.topmenu
{
/*    background-color: #eeeeee; */
    padding: 30px;
    border: 0px;
    margin: 10px 10px;
}

body
{
  background-color : #ffffff;
  background-repeat : no-repeat;
  color            : black;
  margin           : 0px;
  padding          : 0px;
  width            : 100%;
  position : absolute;
  font-family: sans-serif
}

A:link     { color: #800020 }
A:visited  { color: #800020 }
A:hover    { color: #FF2020 }
A:active   { color: #FF2020 }

P { margin : 0px 0px 1em 0px;
}

#content
{
  position           : relative;
/*  border             : 1px solid black; */

  font-family : Sans-Serif;
 /* width              : 553px; */
  margin             : 20px 20px 20px 20px;
/*  background-color   : #aaaaff; */
  padding            : 17px;
  -moz-border-radius : 16px 16px 16px 16px;
}


.ms
{
  font-family : monospace;
}

.thumb {
         padding: 5px;
         margin: 5px;
         background-color : #000000;
          }

.thumb_selected {
         padding: 5px;
         margin: 5px;
         background-color : #888800;
          }

/* thumb area includes the slide and the controls below it */
#thumb_area {
/*              width: 560px; */
              height: 60px;
                margin-left: auto;
                margin-right:auto;
                vertical-align: middle;
       }

#slide_nav {
             resize: both;
             height: 500px;
             width: 200px;
             overflow: auto;
             background-color: #666666;
             float: left;
             margin: 5px;
             border-style: solid;
             border-width: 1px;
             }

#status_div {
              }

#status_label {
                display:block;
                height: 40px;
                }


#current_slide_label {
/*                       display:inline-block;
                       vertical-align: text-top;
                       height: 60px;
                       background-color: #ff0000;
                       margin-bottom: 30px;
*/
                       }

.slide_nav_time {

    opacity: 0.6;
    color: #ffffff;
    background-color: #000000;
    position: relative;
    padding: 5px;
    top: -5px;
    margin-bottom: 10px;
    display: inline-block;
}